<a href="https://colab.research.google.com/github/Ravitejasabbu/2303A51164_B18-/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset("titanic")

print(" First 5 rows of dataset:")
print(df.head())

print("\n Missing Values Before Cleaning:")
print(df.isnull().sum())

df['age'] = df['age'].fillna(df['age'].mean())

df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])

df = df.drop(columns=['deck'])

print("\n Missing Values After Cleaning:")
print(df.isnull().sum())
df.to_csv("titanic_cleaned.csv", index=False)
print("\n Cleaned dataset saved as 'titanic_cleaned.csv'")

 First 5 rows of dataset:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

 Missing Values Before Cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

 Missing Values After Cleaning:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

 Cleaned dataset saved as 'titanic_cleaned.csv'

In [2]:
import pandas as pd


data = {
    "Name": ["Vikas", "Anita", "Rahul", "Priya", "Arjun", "Meena"],
    "Gender": ["M", "Male", "male", "F", "Female", "female"],
    "Age": [20, 21, 22, 20, 23, 21]
}

df = pd.DataFrame(data)

print("Original Dataset:")
print(df)

df['Gender'] = df['Gender'].str.lower()

gender_mapping = {
    "m": "Male",
    "male": "Male",
    "f": "Female",
    "female": "Female"
}

df['Gender'] = df['Gender'].map(gender_mapping)

print("\n Cleaned Dataset with Standardized Gender:")
print(df)

print("\n Unique Gender Categories After Cleaning:")
print(df['Gender'].unique())

Original Dataset:
    Name  Gender  Age
0  Vikas       M   20
1  Anita    Male   21
2  Rahul    male   22
3  Priya       F   20
4  Arjun  Female   23
5  Meena  female   21

 Cleaned Dataset with Standardized Gender:
    Name  Gender  Age
0  Vikas    Male   20
1  Anita    Male   21
2  Rahul    Male   22
3  Priya  Female   20
4  Arjun  Female   23
5  Meena  Female   21

 Unique Gender Categories After Cleaning:
['Male' 'Female']